@{
    ViewData["Title"] = "detalis";
}
<div>
    <a 
        href="https://www.pdfdrive.com/beginning-jquery-2-for-aspnet-developers-using-jquery-2-with-aspnet-web-forms-and-aspnet-mvc-e157663192.html">
        <img src="~/image/510bdh0degl.jpg" />&nbsp
    </a> 
    <a href="https://www.introprogramming.info/wp-content/uploads/2013/07/Books/CSharpEn/Fundamentals-of-Computer-Programming-with-CSharp-Nakov-eBook-v2013.pdf">
        <img src="~/image/c1a8a1db340042dc8c04dc4d482328f8.jpg" width="35%" height="30%" />&nbsp
    </a>
    <a href="https://www.pdfdrive.com/sql-easy-sql-programming-database-management-for-beginners-your-step-by-step-guide-to-learning-the-sql-database-e184313816.html">
        <img src="~/image/51zHledO18S.jpg"  />
    </a>

</div>
<div>  <a asp-action="index">back to list</a></div>
 
