@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 li-item">Welcome</h1>
    <p class="li-td">To See More <a asp-controller="book" asp-action="index">Let Go</a>.</p>
</div>
